{% block body %}
        <h1>Register</h1>

        <form action="/register" method="post">
            <input type="text" name="name" id="name" placeholder="Name" class="textIn"> <br>
            <input type="text" name="username" id="username" placeholder="Username" class="textIn"> <br>
            <input type="text" name="password" id="password" placeholder="Password" class="textIn"> <br>
            <input type="text" name="repassword" id="repassword" placeholder="Re-enter Password" class="textIn"> <br>
            <input id="submit" type="submit">
        </form>
<!--
        <script>
            document.querySelector('#username').onkeyup = function(){
                if (document.querySelector('#username').value === '' ||
                document.querySelector('#password').value === '' ||
                document.querySelector('#repassword').value === '') {
                    document.querySelector('#submit').disabled = true;
                }
                else{
                    document.querySelector('#submit').disabled = false;
                }
            }
            document.querySelector('#password').onkeyup = function() {
                if (document.querySelector('#username').value === '' ||
                document.querySelector('#password').value === '' ||
                document.querySelector('#repassword').value === '') {
                    document.querySelector('#submit').disabled = true;
                }
                else{
                    document.querySelector('#submit').disabled = false;
                }
            }
            document.querySelector('#repassword').onkeyup = function() {
                if (document.querySelector('#username').value === '' ||
                document.querySelector('#password').value === '' ||
                document.querySelector('#repassword').value === '') {
                    document.querySelector('#submit').disabled = true;
                }
                else{
                    document.querySelector('#submit').disabled = false;
                }
            }

        </script>
-->

{% endblock %}
